/* Background-position*/
div {
  height: 500px;
  color: red;
}
.beach-img {
  background: url("images/beach.jpg");
  background-size: cover;
}
.bunny-img {
  border: 2px solid red;
  background: url("./bunny.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
