/*Default Display Property
Block: Always starts a new line and takes full width.
Inline: Does not start and only take up as much space.*/
.block {
  background: darkkhaki;
  color: black;
}
.inline {
  background: lightseagreen;
  color: black;
}
